.shooting-star {
    position: fixed;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    animation: shooting 3s ease-in-out;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }
  
  @keyframes shooting {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(300px, -300px);
      opacity: 0;
    }
  }
  
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  cursor: url("./images/pointer.png"), auto;
}

canvas {
  width: 100%;
  height: auto;
  background: #111;
}

#HappyBirthdayButton {
  display: none;
  text-decoration: none;
  position: absolute;
  background-color: #ffbc2d;
  border: 2px solid #ffffff;
  color: #f51010;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 10px;
  top: calc(50% + 200px); /* Increased spacing */
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#HappyBirthdayButton:hover {
  background-color: #fefefe;
  color: rgb(0, 86, 245);
}

#HappyBirthdayButton a {
  text-decoration: none;
  color: red;
}
